/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body, #root {
  height: 100%;
}

/* ===== BODY BACKGROUND ===== */
body {
  background: linear-gradient(to right, #a5d2ff, #bbb7f2);
}

/* ===== MAIN CONTAINER ===== */
.app-container {
  min-height: 100vh;
  width: 100%;
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;   /* Important */
  text-align: center;
}

/* ===== TITLE ===== */
.app-title {
  font-size: 36px;
  margin-bottom: 25px;
}

/* ===== INPUT SECTION ===== */
.search-box {
  margin-bottom: 20px;
}

.city-input {
  width: 280px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #333;
  border-radius: 6px;
  outline: none;
  margin-right: 10px;
}

/* ===== BUTTONS ===== */
button {
  padding: 10px 18px;
  font-size: 16px;
  margin-left: 10px;
  border: 2px solid #333;   /* fixed spacing error */
  border-radius: 6px;
  background-color: #d9dee2;
  color: rgb(21, 20, 20);
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #aec0d3;
}

.location-button {
  background-color: #fff;
}

/* ===== WEATHER CARD ===== */
.weather-card {
  margin-top: 40px;
  margin-bottom: 40px;   /* space between card & forecast */
  padding: 25px;
  width: 320px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.weather-card:hover {
  transform: translateY(-5px);
}

.weather-card h2,
.weather-card h3,
.weather-card p {
  margin-bottom: 0px;
}

/* ===== ERROR ===== */
.error-message {
  color: red;
  margin-top: 20px;
  font-weight: bold;
}

/* ===== FORECAST ===== */
.forecast-container {
  margin-top: 20px;
}

.forecast-container h3 {
  margin-bottom: 30px;   /* space between heading and cards */
}

.forecast-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.forecast-card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  width: 120px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  text-align: center;
  transition: 0.3s ease;
}

.forecast-card:hover {
  transform: translateY(-5px);
}

.light {
  color: #000;
}

/* ===== DARK MODE TEXT ===== */
.dark {
  color: #fff;
}


/* Optional: make card text also change properly */
.dark .weather-card,
.dark .forecast-card {
  background: #b3a9a9;
  color: #191616;
} 



/* ===== RESPONSIVE ===== */
@media (max-width: 480px) {

  .city-input {
    width: 90%;
    margin-bottom: 10px;
  }

  button {
    width: 90%;
    margin: 5px 0;
  }

  .weather-card {
    width: 90%;
  }
}
